/* font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif; */

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

/* === Common === */

.section {
    padding-top: 30px;
    background-color: #F5F0E1;
}

.container {
    width: 85.9375%;
    margin: 0 auto;
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #FF6E40;
    margin: 30px 0 20px 0;
}

/* === /Common === */


/* === Intro === */

.intro {
    display: flex;
    background-color: #F5F0E1;
    width: 100%;
}

.intro__left__side {
    width: 27.34375%;
    height: 100%;
    background-color: #1E3D59;
    text-align: center;
}

.my__photo {
    width: 80%;
    height: 80%;
}

.my__name__mobile {
    display: none;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500; 
    color: #ffffff;
    font-size: 34px;
}

.my__position__mobile {
    display: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500; 
    color: #ffffff;
    font-size: 32px;
}

.personal__info__text {
    line-height: 1.3;
}

.contact__info__text {
    line-height: 1.3;
    margin-bottom: 30px;
}

.social__network {
    text-decoration: none;
    color: #ffffff;
}

.social__network:hover {
    color: red;
    text-decoration: underline;
    transition: color .2s linear;
} 

.personal__info__text {
    color: #ffffff;
}

.contact__info__text {
    color: #ffffff;
}

.intro__right__side {
    display: flex;
    flex-direction: column;
    width: calc(100% - 27.34375%);
}

.intro__right__side__title {
    text-align: center;
    margin: 60px auto 50px auto;
}

.my__name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500; 
    color: #1E3D59;
    font-size: 34px;
}

.my__position {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500; 
    color: #FF6E40;
    font-size: 32px;
}

.intro__right__side__skills {
    margin-left: 20px;
}


.intro__right__side__skills__title {
    font-weight: 500;
}

ul {
    margin-bottom: 0;
}

li {
    margin-bottom: 5px;
}

li:last-child {
    margin-bottom: 0px;
}

/* === /Intro === */


/* === Projects and exp === */
/* === /Projects and exp === */


/* === Edu === */
/* === /Edu === */

/* === Exp === */

.exp__position {
    margin-top: 16px;
    font-size: 15px;
}
.company {
    margin-top: 10px;
    font-size: 14px;
}

/* === /Exp === */


/* === Media === */

@media (max-width: 414px) {
    .intro {
        flex-wrap: wrap;
    }
    .intro__left__side {
        width: 100%;
    }
    .my__photo {
        width: 50%;
        height: 50%;
    }
    .my__name__mobile {
        display: block;
    }
    .my__position__mobile {
        display: block;
    }
    .intro__right__side {
        width: 100%;
    }
    .intro__right__side__title {
        display: none;
    }
    .intro__right__side__skills__title {
        margin-top: 30px;
        padding-top: 30px;
    }
}